.card-container {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  margin: auto;
  .image {
    height: 50%;
    width: calc(75% - 5px);
  }
  .card-title {
    color: #eec84b;
    font-weight: 800;
  }
  .cards-sub-title {
    color: rgba(61, 59, 49, 0.575);
    font-size: small;
    font-weight: 200;
  }
}
