body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}
.search-bar {
  display: flex;
  border: none;
  padding: 8px 20px;
  width: 50%;
  margin: 0 auto;
}
.main-card-container {
  display: flex;
  margin-bottom: 25px;
  .main-card-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 5%;
  }
}

.card {
  width: calc(33.33% - 10px);
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .card {
    width: 100%;
  }
}
